<h1>Listing outgoing_types</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outgoing_types.each do |outgoing_type| %>
  <tr>
    <td><%= outgoing_type.code %></td>
    <td><%= outgoing_type.name %></td>
    <td><%= outgoing_type.company_id %></td>
    <td><%= link_to 'Show', outgoing_type %></td>
 
    <td><%= link_to 'Destroy', {:controller=>"outgoing_types", :action=>"destroy", :id=>"#{outgoing_type.id}"} , { :confirm => 'Are you sure?'} %></td>
  </tr>
<% end %>
</table>

<br />


