<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @outgoing_type.code %>
</p>

<p>
  <b>Name:</b>
  <%= @outgoing_type.name %>
</p>

<p>
  <b>Company:</b>
  <%= @outgoing_type.company_id %>
</p>


<a href ='/outgoing_types/<%= @outgoing_type.id %>/edit?company_id=<%= @outgoing_type.company_id %>'>Edit</a> |
<%= link_to 'Back', {:controller=>"outgoing_types", :action=>"index", :company_id=>"#{@outgoing_type.company_id}"} %>
