
<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
<div id="blank"></div>
<div id="right">
<div class="leftarrow2" style="float:left"></div>
    <div id="smoothmenu1" class="ddsmoothmenu">
      <ul class="rightcorner">
      <li><%= link_to "User", users_path %>
     <ul>

      <li><%= link_to 'New', new_user_path %></li>


      </ul>
    </li>
       <% if can? :new, Company %>
         <li><%= link_to "Company", companies_path %>
      <ul>

      <li> <%= link_to 'New', new_company_path %></li>
      

      </ul>
      </li>
 <% end %>
  
 </ul>

      <br style="clear: left" />
      </div>
      </div>
    
    
    <div id="right2">
     
      <h1>Show</h1>
      <table width="60%" border="0" cellspacing="10" cellpadding="5">
       
        <tr>
          <td align="right" valign="middle">Code</td>
          <td align="center" valign="middle">:</td>
          <td> <%= @outgoing_type.code %> </td>
        </tr>
        <tr>
          <td align="right" valign="middle">Name</td>
          <td align="center" valign="middle">:</td>
          <td><%= @outgoing_type.name %></td>
        </tr>
         
     
      </table>
      </div>
   
    </div>













