<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
<div id="blank"></div>
<div id="right">
    <div class="leftarrow_contacts" style="float:left"></div>
    <div id="smoothmenu1" class="ddsmoothmenu">
      <ul class="rightcorner">
      
      <% if can? :new, PurchaseOrder %>
      <li><%= link_to "Purchase Order", purchase_orders_path %>
       <ul>

       <li> <%= link_to 'New', new_purchase_order_path %></li>


       </ul>
       </li>
       <% end %>
       
       <% if can? :new, PurchaseOrder %>
        <li><%= link_to "Purchase Invoice", {:controller=>"purchase_orders", :action=>"invoice"} %></li>
         <% end %>
       
	     </ul>
	     <br style="clear: left" />
	     </div>
 </div>


	<div id="right2">
    <h1>Edit Purchase Order </h1>
     
      <div id="profilebox">

          <%= form_tag add_purchase_order_item_purchase_order_url(:id => @purchase_order.id), :method => :put do %>
      	  <table width="100%" border="0" cellspacing="10" cellpadding="5">
              <tr>
                <td align="left" valign="middle">Product:</td>
                </tr>
              <tr>
                <td align="left" valign="middle">
                  <%= select_tag "product_id", options_from_collection_for_select(@product, "id", "product_name"), { :include_blank => "-- Select---" } %>
                </td>
              </tr>
              <tr>
                <td align="left" valign="middle">Quantity</td>
              </tr>
              <tr>
                <td align="left" valign="middle"><%= text_field_tag :quantity %></td>
              </tr>
              <tr>
                <td align="left" valign="middle"><%= submit_tag "Submit", :class=>"button" %></td>
                </tr>
            </table>
          <% end %>  
      

      <table border="0" width="100%" cellpadding="5" cellspacing="0" style="border-bottom:1px solid #D2D2D2; margin:20px 0 20px 0">
          <tr>
              <th align="center" valign="middle" class="tdheading">Item</th>
              <th align="center" valign="middle" class="tdheading">Supplier</th>
              <th align="center" valign="middle" class="tdheading">Product</th>
              <th align="center" valign="middle" class="tdheading">Unit Price</th>
              <th align="center" valign="middle" class="tdheading">Quantity</th>
              <th align="center" valign="middle" class="tdheading">Total Price</th>
              <th align="center" valign="middle" class="tdheading"></th>
          </tr>
          
      <% item_index = 1 %>
          <% @purchase_order.purchase_order_items.each do |item| %>
          <tr>
            <td class="tddata"><%= item_index rescue " "%></td>
            <td class="tddata"><%= item.product.supplier.name rescue " "%></td>
            <td class="tddata"><%= item.product.product_name rescue " "%></td>
            <td class="tddata"><%= item.product.purchase_price rescue " "%></td>
            <td class="tddata"><%= item.quantity rescue " "%></td>
            <td class="tddata"><%= item.price rescue " "%></td>
            <td align="left" valign="middle" class="tddata">
              
              <%= link_to "", {:action => 'remove_purchase_order_item', :id => item.purchase_order.id, :id2=> item.id, :array_position => item_index}, :confirm => 'Delete - Are you sure?', :method => :delete, :class=>"delete_products" %>
            </td>
         </tr>
          <% item_index += 1 %>
      <% end %>
          
       <tr class="alternate-row">
         <td class="tddata" colspan="4">&nbsp;</td>
         <td class="tddata2">Total</td>
         <td class="tddata2"><%= @purchase_order.total_price %></td>
         
         <td align="left" valign="middle" class="tddata"></td>
       </tr>
     </table>

     <%= form_for @purchase_order do |f| %>
 		<table width="100%" border="0" cellspacing="10" cellpadding="5">
 		 <tr>
            <td align="left" valign="middle">Contact:</td>
         </tr>
          <tr>
            <td align="left" valign="middle"> <%= select_tag "contact_id", options_from_collection_for_select(@contact, "id", "contact_name"), { :include_blank => "-- Select---" } %></td>
            </tr>
  			
 			
 			
         <tr>
           <td align="left" valign="middle">Deliver to :</td>
           </tr>
         <tr>
           <td align="left" valign="middle"><%= f.text_field :deliver_to %></td>
           </tr>
         <tr>
           <td align="left" valign="middle">Deliver Phone :</td>
         </tr>
         <tr>
           <td align="left" valign="middle"><%= f.text_field :deliver_phone %></td>
         </tr>
         <tr>
           <td align="left" valign="middle">Order Date :</td>
         </tr>
         <tr>
           <td align="left" valign="middle"><%= f.date_select :order_date %></td>
         </tr>
         <tr>
           <td align="left" valign="middle">Expected Date :</td>
         </tr>
         <tr>
           <td align="left" valign="middle"><%= f.date_select :expected_date %></td>
         </tr>
         <tr>
           <td align="left" valign="middle">Purchase order notes :</td>
         </tr>
         <tr>
           <td align="left" valign="middle"><%= f.text_area :purchase_order_notes,:rows => 4, :cols => 80 %></td>
         </tr>
         <tr>
           <td align="left" valign="middle"><%= f.submit "Submit", :class=>"button" %></td>
           </tr>
       </table>
       <% end %>
       
       </div>
	
	
	</div>
	
	

    
