<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
  <div id="blank"></div>
    <div id="right">
      <div class="leftarrow_contacts" style="float:left"></div>
      <div id="smoothmenu1" class="ddsmoothmenu">
       <ul class="rightcorner">

        <% if can? :new, PurchaseOrder %>
        <li><%= link_to "PurchaseOrder", purchase_orders_path %>
         <ul>

         <li> <%= link_to 'New', new_purchase_order_path %></li>


         </ul>
         </li>
         <% end %>
       
       
      </ul>

      <br style="clear: left" />
      </div>
      </div>

      <div id="right2">
      <h1>Edit Purchase Order </h1>




<%= form_tag add_purchase_order_item_purchase_order_url(:id => @purchase_order.id), :method => :put do %>


<table cellspacing="5" cellpadding="0" border="0">
  <tbody><tr>
    <td>Product</td>
      <td>
              
                <%= select_tag "product_id", options_from_collection_for_select(@product, "id", "product_name"), { :include_blank => "-- Select---" } %>
            </td>
      </tr>
      <tr>
            <td>Quantity</td>
            <td><%= text_field_tag :quantity %></td>
      </tr>
  </tbody></table>
    <%= submit_tag "Submit" %>
<% end %>



  
  
  <table width="100%" class="listing">
  <tr>
      <th>Item</th>
      <th>Supplier</th>
      
      <th>Product</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
      
      <th></th>
   </tr>
   <% item_index = 1 %>
   <% @purchase_order.purchase_order_items.each do |item| %>
     <tr class="odd">
                 <td class="status"><%= item_index %></td>
                 <td class="text"><%= item.product.supplier.name %></td>
                 
                 <td class="text"><%= item.product.product_name %></td>
                 <td class="number"><%= item.product.purchase_price %></td>
                 <td class="status"><%= item.quantity %></td>
                 <td class="number"><%= item.price %></td>
                 
                 <td class="status">
                   
                   <%= link_to "Delete", {:action => 'remove_purchase_order_item', :id => item.purchase_order.id, :id2=> item.id, :array_position => item_index}, :confirm => 'Delete - Are you sure?', :method => :delete %>
                </td>
     </tr>
     <% item_index += 1 %>
    <% end %>
   <tr>
              <td colspan="5" align="right">
                <b>TOTAL : </b>
              </td>
              <td class="number_bothline">
                <b><%= @purchase_order.total_price %></b>
              </td>
    </tr>

        </tbody></table>
    
    <%= form_for @purchase_order do |f| %>
    
    <p>Deliver to</p>   
    <p><%= f.text_field :deliver_to %></p><br />
    <p>Deliver Phone</p>
    <p><%= f.text_field :deliver_phone %></p> <br />
    <p>Order Date</p>
    <p><%= f.date_select :order_date %></p><br />
    <p>Expected Date</p>
    <p><%= f.date_select :expected_date %></p><br />
    <p>Purchase order notes</p>
    <p><%= f.text_area :purchase_order_notes,:rows => 4, :cols => 80 %></p><br />
     <%= f.submit "Submit" %>
    <% end %>
    
    </div>

  </div>

 </div>
    
    
