<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
<div id="blank"></div>
<div id="right">
</div>
<h1>Purchase Order </h1>

<div id="right2">
<%= form_tag add_basket_item_purchase_order_url(:id => @company.id), :method => :put do %>


<table cellspacing="5" cellpadding="0" border="0">
  <tbody><tr>
    <td>Product</td>
      <td>
              
                <%= select_tag "product_id", options_from_collection_for_select(@product, "id", "product_name"), {:prompt => "Select something"} %>
            </td>
      </tr>
      <tr>
            <td>Quantity</td>
            <td><%= text_field_tag :quantity %></td>
      </tr>
  </tbody></table>
    <%= submit_tag "Submit" %>
<% end %>



  
  
  <table width="100%" class="listing">
  <tr>
      <th>Item</th>
      <th>Supplier</th>
      
      <th>Product</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
      
      <th></th>
   </tr>
   <% item_index = 1 %>
   <% @basket.items.each do |item| %>
     <tr class="odd">
                 <td class="status"><%= item_index %></td>
                 <td class="text"><%= item.supplier_name %></td>
                 
                 <td class="text"><%= item.product_name %></td>
                 <td class="number"><%= item.price %></td>
                 <td class="status"><%= item.quantity.to_d %></td>
                 <td class="number"><%= item.total_price %></td>
                 
                 <td class="status">
                   
                   <%= link_to "Delete", {:action => 'remove_basket_item', :id => @company.id, :array_position => item_index}, :confirm => 'Delete - Are you sure?', :method => :delete %>
                </td>
     </tr>
     <% item_index += 1 %>
    <% end %>
   <tr>
              <td colspan="5" align="right">
                <b>TOTAL : </b>
              </td>
              <td class="number_bothline">
                <b><%= @basket.total_price %></b>
              </td>
    </tr>

        </tbody></table>
    
    <%= form_tag :action => 'create', :company_id => @company.id do %>
    
    <p>Deliver to</p>   
    <p><%= text_field_tag :deliver_to %></p><br />
    <p>Deliver Phone</p>
    <p><%= text_field_tag :deliver_phone %></p> <br />
    <p>Order Date</p>
    <p><%= date_select :order_date, params[:order_date] %></p><br />
    <p>Expected Date</p>
    <p><%= date_select :expected_date, params[:expected_date] %></p><br />
    <p>Purchase order notes</p>
    <p><%= text_area_tag :purchase_order_notes, nil, :rows => 4, :cols => 80 %></p><br />
     <%= submit_tag "Submit" %>
    <% end %>
    
    </div>
 
  </div>
  
 </div>
    
    
