  <div class="tabscontainer">
       <div class="tabs">
           <div class="tab selected first" id="tab_menu_1">
               <div class="link">General</div>
               <div class="arrow"></div>
           </div>
           <div class="tab" id="tab_menu_2">
               <div class="link">Communications</div>
               <div class="arrow"></div>
           </div>


            <div class="tab" id="tab_menu_3">
               <div class="link">Notes </div>
               <div class="arrow"></div>
           </div>

      </div>
  
    <%= form_for(@subcontractor) do |f| %>
      <div class="curvedContainer">
    		<div class="tabcontent" id="tab_content_1" style="display:block">
        <table width="60%" border="0" cellspacing="10" cellpadding="10">
            <tr>
              <td align="right" valign="middle">Contact </td>
              <td align="center" valign="middle">:</td>
              <td><%= select :subcontractor, :contact_id, @contact.map {|c| ["#{c.contact_name}", c.id]} %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Rate</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :rate %></td>
            </tr>
        </table>
        </div>
        <div class="tabcontent" id="tab_content_2">
        	<table width="60%" border="0" cellspacing="10" cellpadding="5">
                <tr>
                  <td align="right" valign="middle">Date</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.datetime_select :communication_date %></td>
                </tr>
                <tr>
                  <td align="right" valign="middle">Type</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.text_field :type_id %></td>
                </tr> 
                <tr>
                  <td align="right" valign="middle">Contact</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.text_field :contact %></td>
                </tr>
                <tr>
                  <td align="right" valign="middle">Outcome</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.text_area :outcome, :rows => 2 %></td>
                </tr>
          </table>
        </div>
        <div class="tabcontent" id="tab_content_3">
        	<table width="60%" border="0" cellspacing="10" cellpadding="5">
                <tr>
                  <td align="right" valign="middle">Date</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.date_select :note_date %></td>
                </tr>
                <tr>
                  <td align="right" valign="middle">Note</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.text_area :note, :rows => 2 %></td>
                </tr> 
                <tr>
                  <td align="right" valign="middle">Addded by</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.text_field :addded_by %>
                  <%= f.hidden_field :company_id, :value=>"#{current_user.company_id}" %>
                  </td>
                </tr>
          </table>
        </div>
 
        <div align="center"><%= f.submit "Submit", :class=>"button" %></div>

    	</div>
    	<% end %>

    </div>
        
  
  
  