<%= form_for([:contact,@credit_control],:html => {:id => "credit_control"}) do |f| %>
  <% if @credit_control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit_control.errors.count, "error") %> prohibited this credit_control from being saved:</h2>

      <ul>
      <% @credit_control.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :credit_limit %><br />
    <%= f.text_field :credit_limit,:class =>"field1" %>
  </div><br/>
   <div class="field">
     <%= f.check_box :account_hold %>
     <span style="position:relative; top:-3px;"><%= f.label :account_hold %></span>
   </div>
  
    <% if @credit_control.contact_id.nil? %>
   <%= f.hidden_field :contact_id, :value => params[:contact_id] %>
   <% end %>
  <div class="actions">
    <%= f.submit "Save",:class => "button"%>
  </div>
<% end %>
