
<div class="formbox">
<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <table width="60%" border="0" cellspacing="10" cellpadding="5">
    <tr>
      <td align="right" valign="middle">Product </td>
      <td align="center" valign="middle">:</td>
      <td>   <%= f.select "product_id", options_from_collection_for_select(@product, "id", "product_name"),{ :include_blank => "-- Select---" }, :onchange => remote_function(:url => {:action => :find }, :with => "'product_id='+value" ) %></td>
    </tr>
    
     <div id="uom">
     	  	
     </div>

  
    <div id="unit">
    	
    </div>
  
  
    <tr>
        
        <%= f.hidden_field :sold_units, :value => 0 %>
        <%= f.hidden_field :company_id, :value =>"#{current_user.company_id}" %>
          
     
    </tr>
 
    <tr> 
      <td align="right" valign="middle">&nbsp;</td>
      <td align="center" valign="middle">&nbsp;</td>
      <td><%= f.submit "submit", :class =>'button'%></td>
  </tr>
  </table>
  <% end %>













 </div>