   
   <div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
   	<div id="blank"></div>
<div id="right">
<div class="leftarrow_setting" style="float:left"></div>
   <div id="smoothmenu1" class="ddsmoothmenu">
      <ul class="rightcorner">
   <% if can? :new, Stock %>
         <li><%= link_to "Stock", stocks_path %>
      <ul>

      <li> <%= link_to 'New', new_stock_path %></li>
      

      </ul>
      </li>
      <% end %>
      
    <% if can? :new, DefectiveProduct %>
         <li><%= link_to "Defective Products", defective_products_path %>
      <ul>

      <li> <%= link_to 'New', new_defective_product_path %></li>
      

      </ul>
      </li>
      <% end %>
      
  
 </ul>

      <br style="clear: left" />
      </div>
      </div>
   	
    <div id="right2">
<h1>Listing stock</h1>
    <div class="formbox">
 
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
      <tr>
        <th align="center" valign="middle" class="table-header-repeat line-left minwidth-1"><a href="">Product</a> </th>
        <th align="center" valign="middle" class="table-header-repeat line-left"><a href="">Uom Id</a></th>
        <th align="center" valign="middle" class="table-header-options line-left"><a href="">Units</a></th>
         <th align="center" valign="middle" class="table-header-options line-left"><a href="">Sold units</a></th>
       
          <th align="center" valign="middle" class="table-header-options line-left"><a href="">Action</a></th>
      </tr>
      <tr>
      <% @stocks.each do |stock| %>
      	
        <td><%= stock.product_id %> </td>
        <td><%= stock.uom_id %></td>    
        <td><%= stock.units %></td>
        <td><%= stock.sold_units %></td> 
 
                      
        <td class="options-width"> <%= link_to '', stock, :class => "icon-1 info-tooltip" %> 
        <a href="/stocks/<%= stock.id %>/delete" class = "icon-3 info-tooltip" onclick="if(confirm('Are you sure you want to delete?'))  return true;  else  return false;"></a>
          
         
        </td>
      </tr>
      
      <% end %>
    </table>
    </div>
    </div>



  </div>

 








<%= link_to 'New Stock', new_stock_path %>
