<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
<div id="blank"></div>
<div id="right">

   <div class="leftarrow_setting" style="float:left"></div>
    <div id="smoothmenu1" class="ddsmoothmenu">
      <ul class="rightcorner">
      <li><%= link_to "User", users_path %>
     <ul>

      <li><%= link_to 'New', new_user_path %></li>


      </ul>
    </li>
       <% if can? :new, Company %>
         <li><%= link_to "Company", companies_path %>
          <ul>
              <li> <%= link_to 'New', new_company_path %></li>
          </ul>
        </li>
       <% end %>
       
       <% if can? :new, Vat %>
       <li><%= link_to "Vat", vats_path %>
            <ul>
                 <li><%= link_to 'New', new_vat_path %></li>
            </ul>
        </li>
        <% end %>

        <% if can? :new, Category %>
       	<li><%= link_to "Category", categories_path %>
            <ul>
                <li><%= link_to 'New', new_category_path %></li>
            </ul>
        </li>
        <% end %>

        <% if can? :new, SalesType %>
       	<li><%= link_to "Sales Types", sales_types_path %>
            <ul>
                <li><%= link_to 'New', new_sales_type_path %></li>
            </ul>
        </li>
        <% end %>

        <% if can? :new, OutgoingType %>
       	<li><%= link_to "Outgoing Types", outgoing_types_path %>
            <ul>
                <li><%= link_to 'New', new_outgoing_type_path %></li>
            </ul>
        </li>
        <% end %>
  
 </ul>

      <br style="clear: left" />
      </div>
      </div>
    
    
    <div id="right2">
     
      <h1>Profile</h1>
      
      <div class="formbox">
            <table width="100%" border="0" cellspacing="10" cellpadding="10">
              <tr>
                <td align="left" valign="top" width="20%"><%= image_tag @user.userimage_url(:thumb) %></td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="left" valign="top"><strong>
                <h1><%= @user.first_name %> <%= @user.surname %></h1> 
                </strong></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="td1"><strong>First Name </strong></td>
                <td align="center" valign="middle" class="td1">:</td>
                <td align="left" valign="top" class="td2"> <%= @user.first_name %> </td>
              </tr>
              <tr>
                <td align="left" valign="top" class="td1"><strong>Last Name </strong></td>
                <td align="center" valign="middle" class="td1">:</td>
                <td align="left" valign="top" class="td2"><%= @user.surname %> </td>
              </tr>
              <tr>
                <td align="left" valign="top" class="td1"><strong>Address1</strong></td>
                <td align="center" valign="middle" class="td1">:</td>
                <td align="left" valign="top" class="td2"><%= @user.address_line1 %></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="td1"><strong>Address 2 </strong></td>
                <td align="center" valign="middle" class="td1">:</td>
                <td align="left" valign="top" class="td2"><%= @user.address_line2 %></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="td1"><strong>Address 3 </strong></td>
                <td align="center" valign="middle" class="td1">:</td>
                <td align="left" valign="top" class="td2"><%= @user.address_line3 %></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="td1"><strong>City</strong></td>
                <td align="center" valign="middle" class="td1">:</td>
                <td align="left" valign="top" class="td2"><%= @user.city %></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="td1"><strong>Postcode</strong></td>
                <td align="center" valign="middle" class="td1">:</td>
                <td align="left" valign="top" class="td2"><%= @user.postcode %></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="td1"><strong>Fix Line Number</strong></td>
                <td align="center" valign="middle" class="td1">:</td>
                <td align="left" valign="top" class="td2"><%= @user.fix_line %></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="td1"><strong>Mobile</strong></td>
                <td align="center" valign="middle" class="td1">:</td>
                <td align="left" valign="top" class="td2"><%= @user.mobile_number %></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="td1"><strong>Country</strong></td>
                <td align="center" valign="middle" class="td1">:</td>
                <td align="left" valign="top" class="td2"><%= @user.county %></td>
              </tr>
             
            </table>
      	  </div>
      	  
      	  
      	  
      	  
      	  
      
      
      
      
      
      
      
      
      
      </div>
   
    </div>