
<div id="reset_password">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
  <table width="100%" border="0" cellspacing="10" cellpadding="0">
    <tr>
          <td colspan="2" align="center" valign="middle"><h1>Change your password</h1> </td>
    </tr>
    <tr>
      <td align="right" valign="middle"><strong>New password: </strong></td>
      <td align="left" valign="top"><label>
        <%= f.password_field :password, :class=>"logintextfield" %>
      </label></td>
    </tr>
    
    <tr>
      <td align="right" valign="middle"><strong>Confirm new password: </strong></td>
      <td align="left" valign="top"><label>
        <%= f.password_field :password_confirmation, :class=>"logintextfield" %>
      </label></td>
    </tr>
    
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td align="left" valign="top"><a href="dashboard.html" style="text-decoration:none">
        
         <%= f.submit "Change Password", :class=>"button" %>
        </a>
         </td>
    </tr>
  </table>
  <% end %>
</div>
