      
      <% if user_signed_in? %>
      							    


      <% else %>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          	<p align="center"><img src="/images/login_sign.png" alt="" /></p>
              <p class="text" align="center">Username</p>
              <p align="center"><%= f.text_field :username %></p>
              
              <p class="text" align="center">Password</p>
              <p align="center"><%= f.password_field :password %></p>
              <p align="center" class="sing_btn"><%= f.submit "Sign In", :class => 'signin' %></p>
              <%= link_to "Forgot Password", new_password_path('user'), :class =>  'lostpassword' %>
          <% end %>
      <% end %>
