<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %><br />
   
    <%= select :customer, :contact_id, @contact.map {|c| ["#{c.contact_name}", c.id]} %>
  </div>
  <div class="field">
    <%= f.label :nominal_gl_code %><br />
    <%= f.text_field :nominal_gl_code %>
  </div>
  <div class="field">
    <%= f.label :vat_rate_sales %><br />
    <%= f.text_field :vat_rate_sales %>
  </div>
  <div class="field">
    <%= f.label :vat_rate_purchases %><br />
    <%= f.text_field :vat_rate_purchases %>
  </div>
  <div class="field">
    <%= f.label :contact_group %><br />
    <%= f.text_field :contact_group %>
  </div>
  <div class="field">
    <%= f.label :company_no %><br />
    <%= f.text_field :company_no %>
  </div>
  <div class="field">
    <%= f.label :business_type %><br />
    <%= f.text_field :business_type %>
  </div>
  <div class="field">
    <%= f.label :bank_name %><br />
    <%= f.text_field :bank_name %>
  </div>
  <div class="field">
    <%= f.label :account_name %><br />
    <%= f.text_field :account_name %>
  </div>
  <div class="field">
    <%= f.label :sort_code %><br />
    <%= f.text_field :sort_code %>
  </div>
  <div class="field">
    <%= f.label :account_number %><br />
    <%= f.text_field :account_number %>
  </div>
  <div class="field">
    <%= f.label :credit_limit %><br />
    <%= f.text_field :credit_limit %>
  </div>
  <div class="field">
    <%= f.label :terms %><br />
    <%= f.text_field :terms %>
  </div>
  <div class="field">
    <%= f.label :on_hold %><br />
    <%= f.text_field :on_hold %>
  </div>
  <div class="field">
    <%= f.label :account_balance %><br />
    <%= f.text_field :account_balance %>
  </div>
  <div class="field">
    <%= f.label :note_date %><br />
    <%= f.datetime_select :note_date %>
  </div>
  <div class="field">
    <%= f.label :note_type %><br />
    <%= f.text_field :note_type %>
  </div>
  <div class="field">
    <%= f.label :note_description %><br />
    <%= f.text_field :note_description %>
  </div>
  <div class="field">
    <%= f.label :attachement_date %><br />
    <%= f.date_select :attachement_date %>
  </div>
  <div class="field">
    <%= f.label :attachement_type %><br />
    <%= f.text_field :attachement_type %>
  </div>
  <div class="field">
    <%= f.label :attachement_detail %><br />
    <%= f.text_area :attachement_detail %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :communication_date %><br />
    <%= f.datetime_select :communication_date %>
  </div>
  <div class="field">
    <%= f.label :contact_type %><br />
    <%= f.text_field :contact_type %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :outcome %><br />
    <%= f.text_area :outcome %>
  </div>
  <div class="field">
    <%= f.label :note_date %><br />
    <%= f.date_select :note_date %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :added_by_customer, "Added by" %><br />
    <%= f.text_field :added_by_customer %>
    <%= f.hidden_field :company_id, :value=>"#{current_user.company_id}" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
