<h1>Listing customers</h1>

<table>
  <tr>
    <th>Contact</th>
    <th>Nominal gl code</th>
    <th>Vat rate sales</th>
    <th>Vat rate purchases</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td>
    <% if customer.contact_id.nil? %>
    <% else %>
       <% @contact = Contact.find(customer.contact_id) %>
        <%= @contact.contact_name %>
    <% end %>
    </td>
    <td><%= customer.nominal_gl_code %></td>
    <td><%= customer.vat_rate_sales %></td>
    <td><%= customer.vat_rate_purchases %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', {:controller=>'customers', :action=>'destroy', :id=>"#{customer.id}"}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
