<p id="notice"><%= notice %></p>

<p>
  <b>Contact:</b>
  <%= @customer.contact_id %>
</p>

<p>
  <b>Nominal gl code:</b>
  <%= @customer.nominal_gl_code %>
</p>

<p>
  <b>Vat rate sales:</b>
  <%= @customer.vat_rate_sales %>
</p>

<p>
  <b>Vat rate purchases:</b>
  <%= @customer.vat_rate_purchases %>
</p>

<p>
  <b>Contact group:</b>
  <%= @customer.contact_group %>
</p>

<p>
  <b>Company no:</b>
  <%= @customer.company_no %>
</p>

<p>
  <b>Business type:</b>
  <%= @customer.business_type %>
</p>

<p>
  <b>Bank name:</b>
  <%= @customer.bank_name %>
</p>

<p>
  <b>Account name:</b>
  <%= @customer.account_name %>
</p>

<p>
  <b>Sort code:</b>
  <%= @customer.sort_code %>
</p>

<p>
  <b>Account number:</b>
  <%= @customer.account_number %>
</p>

<p>
  <b>Credit limit:</b>
  <%= @customer.credit_limit %>
</p>

<p>
  <b>Terms:</b>
  <%= @customer.terms %>
</p>

<p>
  <b>On hold:</b>
  <%= @customer.on_hold %>
</p>

<p>
  <b>Account balance:</b>
  <%= @customer.account_balance %>
</p>

<p>
  <b>Note date:</b>
  <%= @customer.note_date %>
</p>

<p>
  <b>Note type:</b>
  <%= @customer.note_type %>
</p>

<p>
  <b>Note description:</b>
  <%= @customer.note_description %>
</p>

<p>
  <b>Attachement date:</b>
  <%= @customer.attachement_date %>
</p>

<p>
  <b>Attachement type:</b>
  <%= @customer.attachement_type %>
</p>

<p>
  <b>Attachement details:</b>
  <%= @customer.attachement_details %>
</p>

<p>
  <b>Status:</b>
  <%= @customer.status %>
</p>

<p>
  <b>Communication date:</b>
  <%= @customer.communication_date %>
</p>

<p>
  <b>Contact type:</b>
  <%= @customer.contact_type %>
</p>

<p>
  <b>Contact:</b>
  <%= @customer.contact %>
</p>

<p>
  <b>Outcome:</b>
  <%= @customer.outcome %>
</p>

<p>
  <b>Note date:</b>
  <%= @customer.note_date %>
</p>

<p>
  <b>Note:</b>
  <%= @customer.note %>
</p>

<p>
  <b>Added by:</b>
  <%= @customer.added_by %>
</p>

<p>
  <b>Company:</b>
  <%= @customer.company_id %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
