  <div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
  <div id="blank"></div>
  <div id="right">
    <div class="leftarrow_contacts" style="float:left"></div>
    <div id="smoothmenu1" class="ddsmoothmenu">
         <ul class="rightcorner">
          <% if can? :new, Contact %>
          <li><%= link_to "Contact", contacts_path %>
           <ul>

           <li> <%= link_to 'New', new_contact_path %></li>


           </ul>
           </li>
           <% end %>

           <% if can? :new, Customer %>
           <li><%= link_to "Customer", customers_path %>
              <ul>
                      <li> <%= link_to 'New', new_customer_path %></li>
              </ul>
           </li>
           <% end %>

           <% if can? :new, Prospect %>
            <li><%= link_to "Prospect", prospects_path %>
               <ul>
                       <li> <%= link_to 'New', new_prospect_path %></li>
               </ul>
            </li>
            <% end %>

            <% if can? :new, Subcontractor %>
              <li><%= link_to "Subcontractor", subcontractors_path %>
                 <ul>
                         <li> <%= link_to 'New', new_subcontractor_path %></li>
                 </ul>
              </li>
            <% end %>

            <% if can? :new, SaleRepresentative %>
              <li><%= link_to "Sale Representative", sale_representatives_path %>
                 <ul>
                         <li> <%= link_to 'New', new_sale_representative_path %></li>
                 </ul>
              </li>
            <% end %>

    	     </ul>
  	<br style="clear: left" />
  	</div>
   </div>


  	<div id="right2">
    <h1>Show Customer</h1>
    
    <div class="formbox">
    <table width="60%" border="0" cellspacing="10" cellpadding="5">
      
      <tr>
        <td align="right" valign="middle">Contact Name </td>
        <td align="center" valign="middle">:</td>
        <td> <% if @customer.contact_id.nil? %>
        <% else %>
           <% @contact = Contact.find(@customer.contact_id) %>
            <%= @contact.contact_name %>
        <% end %> </td>
      </tr>
  
      <tr>
        <td align="right" valign="middle">Nominal gl code </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.nominal_gl_code %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Vat rate sales </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.vat_rate_sales %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Vat rate purchases </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.vat_rate_purchases %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Contact group </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.contact_group %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Company no </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.company_no %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Business type </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.business_type %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Bank name </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.bank_name %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Account name </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.account_name %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Sort code </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.sort_code %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Account number </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.account_number %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Credit limit </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.credit_limit %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Terms </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.terms %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">On hold </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.on_hold %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Account balance </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.account_balance %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Note date </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.note_date %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Note type </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.note_type %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Note description </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.note_description %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Attachement date </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.attachement_date %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Attachement type </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.attachement_type %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Attachement details </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.attachement_details %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Status </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.status %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Communication date </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.communication_date %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Contact type </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.contact_type %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Contact </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.contact %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Outcome </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.outcome %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Note date </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.note_date %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Note </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.note %></td>
      </tr>
      <tr>
        <td align="right" valign="middle">Added by </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @customer.added_by_customer %></td>
      </tr>
      </table>
      </div>
      </div>
   
    </div>
    </div>