
    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" style="margin-top: 10px;">
        <tr>
        <th align="center" valign="middle" class="table-header-repeat line-left minwidth-1">
        	<input type="checkbox" id="checkall" />
        	<a href="">Select </a> </th>
          <th align="center" valign="middle" class="table-header-repeat line-left minwidth-1"><a href="">Name</a> </th>
          <th align="center" valign="middle" class="table-header-repeat line-left"><a href="">Email</a></th>
          <th align="center" valign="middle" class="table-header-repeat line-left"><a href="">Phone Number</a></th>
          <th align="center" valign="middle" class="table-header-repeat line-left"><a href="">Outstanding Balance</a></th>
          <th align="center" valign="middle" class="table-header-repeat line-left"><a href="">Overdue</a></th>
          <th align="center" valign="middle" class="table-header-options line-left"><a href="">Action</a></th>
        </tr>
        <tr>
        	

         <% @contacts.each do |contact| %>

	        	<td><%= check_box_tag "group[contact_ids][]", contact.id %>
		        <td><%= contact.contact_name %></td>
		        <td><%= contact.contact_email %></td> 
		        <td><%= contact.contact_telephone %></td>
		        <td></td>
		     	<td></td>
               
          <td class="options-width"> <%= link_to '', contact_path(contact), :class => "icon-1 info-tooltip" %><%= link_to '', edit_contact_path(contact), :class =>"icon-2 info-tooltip" %> <%= link_to '', {:controller=>"contacts", :action=>"destroy", :id=>"#{contact.id}"}, :confirm => 'Are you sure?',  :class => "icon-3 info-tooltip" %></td>
        </tr>
     
        <%end%>
      </table>

      </div>
   
    </div>

