<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
  <div id="blank"></div>
    <div id="right">
      <div class="leftarrow_contacts" style="float:left"></div>
      <div id="smoothmenu1" class="ddsmoothmenu">
       <ul class="rightcorner">

        <% if can? :new, Contact %>
        <li><%= link_to "Contact", contacts_path %>
         <ul>

         <li> <%= link_to 'New', new_contact_path %></li>


         </ul>
         </li>
         <% end %>

         <% if can? :new, Customer %>
         <li><%= link_to "Customer", customers_path %>
            <ul>
                    <li> <%= link_to 'New', new_customer_path %></li>
            </ul>
         </li>
         <% end %>

         <% if can? :new, Prospect %>
          <li><%= link_to "Prospect", prospects_path %>
             <ul>
                     <li> <%= link_to 'New', new_prospect_path %></li>
             </ul>
          </li>
          <% end %>

          <% if can? :new, Subcontractor %>
            <li><%= link_to "Subcontractor", subcontractors_path %>
               <ul>
                       <li> <%= link_to 'New', new_subcontractor_path %></li>
               </ul>
            </li>
          <% end %>

          <% if can? :new, SaleRepresentative %>
            <li><%= link_to "Sale Representative", sale_representatives_path %>
               <ul>
                       <li> <%= link_to 'New', new_sale_representative_path %></li>
               </ul>
            </li>
          <% end %>
        
       </ul>

      <br style="clear: left" />
      </div>
      </div>

      <div id="right2">
      <h1>Edit contact</h1>

      <%= render 'form' %>

       

      </div>
      </div>
