 <div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
<div id="blank"></div>
<div id="right">
    <div class="leftarrow_contacts" style="float:left"></div>
    <div id="smoothmenu1" class="ddsmoothmenu">
    
   <br style="clear: left" />
</div>
</div>
<div id="right2">
	<br/>
	<div class="formbox" style="width: 90%">
 <% if @contacts.empty? %>
	<p style="color: #5A6563;">Sorry! Record Not Found</p>
 <% else %>
	
	  <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table" style="margin-top: 10px;">
        <tr>
   
          <th align="center" valign="middle" class="table-header-repeat line-left minwidth-1"><a href=""><%= sortable "contact_name" %></a> </th>
          <th align="center" valign="middle" class="table-header-repeat line-left"><a href=""><%= sortable "contact_email" %></a></th>
          <th align="center" valign="middle" class="table-header-repeat line-left"><a href="">Phone Number</a></th>
          <th align="center" valign="middle" class="table-header-repeat line-left"><a href="">Outstanding Balance</a></th>
          <th align="center" valign="middle" class="table-header-options line-left"><a href="">Action</a></th>

        </tr>
        <tr>
        	

         <% @contacts.each do |contact| %>

		        <td><%= contact.contact_name %></td>
		        <td><%= contact.contact_email %></td> 
		        <td><%= contact.contact_telephone %></td>
		      	<td></td>
		     	<td class="options-width"> <%= link_to '', contact_path(contact), :class => "icon-1 info-tooltip" %><%= link_to '', edit_contact_path(contact), :class =>"icon-2 info-tooltip" %> <%= link_to '', {:controller=>"contacts", :action=>"destroy", :id=>"#{contact.id}"}, :confirm => 'Are you sure?',  :class => "icon-3 info-tooltip" %></td>

        </tr>
     
        <%end%>
         
      </table>
	
	
<% end %>

<br/>
 <%= link_to "Back", contacts_path,:class =>"button" %>
</div>
</div>
</div>
