<p id="notice"><%= notice %></p>

<p>
  <b>Contact name:</b>
  <%= @contact.contact_name %>
</p>

<p>
  <b>Contact position:</b>
  <%= @contact.contact_position %>
</p>

<p>
  <b>Contact address1:</b>
  <%= @contact.contact_address1 %>
</p>

<p>
  <b>Contact address2:</b>
  <%= @contact.contact_address2 %>
</p>

<p>
  <b>Contact town:</b>
  <%= @contact.contact_town %>
</p>

<p>
  <b>Contact country:</b>
  <%= @contact.contact_country %>
</p>

<p>
  <b>Contact postcode:</b>
  <%= @contact.contact_postcode %>
</p>

<p>
  <b>Contact vat number:</b>
  <%= @contact.contact_vat_number %>
</p>

<p>
  <b>Contact telephone:</b>
  <%= @contact.contact_telephone %>
</p>

<p>
  <b>Contact fax:</b>
  <%= @contact.contact_fax %>
</p>

<p>
  <b>Contact email:</b>
  <%= @contact.contact_email %>
</p>

<p>
  <b>Nominal code:</b>
  <%= @contact.nominal_code %>
</p>

<p>
  <b>Vat rate sales:</b>
  <%= @contact.vat_rate_sales %>
</p>

<p>
  <b>Vat rate purchases:</b>
  <%= @contact.vat_rate_purchases %>
</p>

<p>
  <b>Skype:</b>
  <%= @contact.skype %>
</p>

<p>
  <b>Msn:</b>
  <%= @contact.msn %>
</p>

<p>
  <b>Company:</b>
  <%= @contact.company_id %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
