<%= form_for(@company, :html => { :multipart => true }) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= select :company, :user_id, @user.map {|c| ["#{c.first_name} #{c.surname}", c.id]} %>
  </div>
  
  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :company_address1 %><br />
    <%= f.text_field :company_address1 %>
  </div>
  <div class="field">
    <%= f.label :company_address2 %><br />
    <%= f.text_field :company_address2 %>
  </div>
  <div class="field">
    <%= f.label :company_town %><br />
    <%= f.text_field :company_town %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= select :company, :country_name, Country.all.map {|c| [c.country_name]} %>
  </div>
  <div class="field">
    <%= f.label :post_code %><br />
    <%= f.text_field :post_code %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :fax_number %><br />
    <%= f.text_field :fax_number %>
  </div>
  <div class="field">
    <%= f.label :web_url %><br />
    <%= f.text_field :web_url %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :vat_no %><br />
    <%= f.text_field :vat_no %>
  </div>
  <div class="field">
    <%= f.label :vat_rate %><br />
    <%= f.text_field :vat_rate %>
  </div>
  <div class="field">
    <%= f.label :reg_no %><br />
    <%= f.text_field :reg_no %>
    
  </div>
  <div class="field">
    <%= f.label :companylogo %><br />
    <%= f.file_field :companylogo %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
