
      
  <%= form_for(@company, :html => { :multipart => true }) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <table width="60%" border="0" cellspacing="10" cellpadding="5">
        <tr>
          <td align="right" valign="middle">User</td>
          <td align="center" valign="middle">:</td>
          <td> <%= select :company, :user_id, @user.map {|c| ["#{c.first_name} #{c.surname}", c.id]} %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Company Name</td>
          <td align="center" valign="middle">:</td>
          <td> <%= f.text_field :company_name, :class => "field1"%></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Company Address1 </td>
          <td align="center" valign="middle">:</td>
          <td><%= f.text_field :company_address1, :class => "field1"%></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Company Address2</td>
          <td align="center" valign="middle">:</td>
          <td><%= f.text_field :company_address2, :class => "field1"%> </td>
        </tr>
        <tr>
          <td align="right" valign="middle">Company Town </td>
          <td align="center" valign="middle">:</td>
          <td><%= f.text_field :company_town, :class => "field1"%></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Country </td>
          <td align="center" valign="middle">:</td>
          <td>  <%= select :company, :country_name, Country.all.map {|c| [c.country_name]} %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Postal code </td>
          <td align="center" valign="middle">:</td>
          <td><%= f.text_field :post_code,:class =>"field1" %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Phone Number </td>
          <td align="center" valign="middle">:</td>
          <td> <%= f.text_field :phone_number,:class =>"field1" %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Fax number </td>
          <td align="center" valign="middle">:</td>
          <td> <%= f.text_field :fax_number,:class =>"field1" %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Email</td>
          <td align="center" valign="middle">:</td>
          <td><%= f.text_field :email,:class =>"field1" %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Vat No</td>
          <td align="center" valign="middle">:</td>
          <td><%= f.text_field :vat_no,:class =>"field1" %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Vat Rate</td>
          <td align="center" valign="middle">:</td>
          <td><%= f.text_field :vat_rate,:class =>"field1" %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Company Logo </td>
          <td align="center" valign="middle">:</td>
          <td>  <%= f.file_field :companylogo %></td>
        </tr>
      
        <tr> 
          <td align="right" valign="middle">&nbsp;</td>
          <td align="center" valign="middle">&nbsp;</td>
          <td><%= f.submit "submit", :class =>'button'%></td>
        </tr>
      </table>
      <% end %>
      </div>
   
    </div>
    

   
