<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @company.company_name %>
</p>

<p>
  <b>Company address1:</b>
  <%= @company.company_address1 %>
</p>

<p>
  <b>Company address2:</b>
  <%= @company.company_address2 %>
</p>

<p>
  <b>Company town:</b>
  <%= @company.company_town %>
</p>

<p>
  <b>Country:</b>
  <%= @company.country_name %>
</p>

<p>
  <b>Post code:</b>
  <%= @company.post_code %>
</p>

<p>
  <b>Phone number:</b>
  <%= @company.phone_number %>
</p>

<p>
  <b>Fax number:</b>
  <%= @company.fax_number %>
</p>

<p>
  <b>Web url:</b>
  <%= @company.web_url %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Vat no:</b>
  <%= @company.vat_no %>
</p>

<p>
  <b>Vat rate:</b>
  <%= @company.vat_rate %>
</p>

<p>
  <b>Reg no:</b>
  <%= @company.reg_no %>
</p>

<p>
  <b>User:</b>
  <%= @company.user_id %>
</p>

<%= image_tag @company.logo.url() %>


<h2>VAT</h2>
<%= link_to "Add Vat", {:controller=>"vats", :action=>"new", :company_id=>"#{@company.id}"} %>

<h2>Category</h2>
<%= link_to "Add Category", {:controller=>"categories", :action=>"new", :company_id=>"#{@company.id}"} %>

<h2>Sales Types</h2>
<%= link_to "Add Category", {:controller=>"sales_types", :action=>"new", :company_id=>"#{@company.id}"} %>

<h2>Outgoing Types</h2>
<%= link_to "Add Category", {:controller=>"outgoing_types", :action=>"new", :company_id=>"#{@company.id}"} %>
<br/><br/>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
