<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
<div id="blank"></div>
<div id="right">
<div class="leftarrow2" style="float:left"></div>
    <div id="smoothmenu1" class="ddsmoothmenu">
      <ul class="rightcorner">
      <li><%= link_to "User", users_path %>
     <ul>

      <li><%= link_to 'New', new_user_path %></li>


      </ul>
    </li>
       <% if can? :new, Company %>
         <li><%= link_to "Company", companies_path %>
      <ul>

      <li> <%= link_to 'New', new_company_path %></li>
      

      </ul>
      </li>
 <% end %>
  
 </ul>

      <br style="clear: left" />
      </div>
      </div>
    
    
    <div id="right2">
     
      <h1>Company Profile</h1>
      <table width="60%" border="0" cellspacing="10" cellpadding="5">
        <tr>
          <td align="right" valign="middle"><strong>
          <h1><%= @company.company_name %></h1> 
          </strong></td>
          <td align="center" valign="middle">&nbsp;</td>
          <td></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Company Name </td>
          <td align="center" valign="middle">:</td>
          <td> <%= @company.company_name %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Address</td>
          <td align="center" valign="middle">:</td>
          <td><%= @company.company_address1 %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Address 2 </td>
          <td align="center" valign="middle">:</td>
          <td><%= @company.company_address2 %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Town</td>
          <td align="center" valign="middle">:</td>
          <td><%= @company.company_town %></td>
        </tr>
         <tr>
          <td align="right" valign="middle">Country</td>
          <td align="center" valign="middle">:</td>
          <td><%= @company.country_name %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Phone</td>
          <td align="center" valign="middle">:</td>
          <td> <%= @company.phone_number %></td>
        </tr>
           <tr>
          <td align="right" valign="middle">Post code</td>
          <td align="center" valign="middle">:</td>
          <td> <%= @company.post_code %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Fax Number</td>
          <td align="center" valign="middle">:</td>
          <td>  <%= @company.fax_number %></td>
        </tr>
        <tr>
          <td align="right" valign="middle">Web url</td>
          <td align="center" valign="middle">:</td>
          <td> <%= @company.web_url %></td>
        </tr>
         <tr>
          <td align="right" valign="middle">Email</td>
          <td align="center" valign="middle">:</td>
          <td>  <%= @company.email %></td>
        </tr>
         <tr>
          <td align="right" valign="middle">Vat No.</td>
          <td align="center" valign="middle">:</td>
          <td>  <%= @company.vat_no %></td>
        </tr>
         <tr>
          <td align="right" valign="middle">Vate Rate</td>
          <td align="center" valign="middle">:</td>
          <td>  <%= @company.vat_rate %></td>
        </tr>
          <tr>
          <td align="right" valign="middle">Reg no</td>
          <td align="center" valign="middle">:</td>
          <td> <%= @company.reg_no %></td>
        </tr>
         <tr>
          <td align="right" valign="middle">Company Logo</td>
          <td align="center" valign="middle">:</td>
          <td><%= image_tag @company.companylogo_url(:thumb) %></td>
        </tr>
        
      </table>
      
      </div>
   
    </div>