<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
<div id="blank"></div>
<div id="right">
    <div class="leftarrow_products" style="float:left"></div>
    <div id="smoothmenu1" class="ddsmoothmenu">
      <ul class="rightcorner">

      <% if can? :new, ProductType %>
      <li><%= link_to "Product Type", product_types_path %>
       <ul>
            <li> <%= link_to 'New', new_product_type_path %></li>
       </ul>
      </li>
      <% end %>
      
      <% if can? :new, ProductGroup %>
      <li><%= link_to "Product Group", product_groups_path %>
       <ul>
            <li> <%= link_to 'New', new_product_group_path %></li>
       </ul>
      </li>
      <% end %>
      
      <% if can? :new, ProductFibre %>
      <li><%= link_to "Product Fibre", product_fibres_path %>
       <ul>
            <li> <%= link_to 'New', new_product_fibre_path %></li>
       </ul>
      </li>
      <% end %>
      
      <% if can? :new, ProductBacking %>
      <li><%= link_to "Product Backing", product_backings_path %>
       <ul>
            <li> <%= link_to 'New', new_product_backing_path %></li>
       </ul>
      </li>
      <% end %>
      
      <% if can? :new, ProductWear %>
      <li><%= link_to "Product Wear", product_wears_path %>
       <ul>
            <li> <%= link_to 'New', new_product_wear_path %></li>
       </ul>
      </li>
      <% end %>
      
      <% if can? :new, ProductStyleType %>
      <li><%= link_to "Product Style Type", product_style_types_path %>
       <ul>
            <li> <%= link_to 'New', new_product_style_type_path %></li>
       </ul>
      </li>
      <% end %>

      <% if can? :new, Product %>
      <li><%= link_to "Product", products_path %>
       <ul>
            <li> <%= link_to 'New', new_product_path %></li>
       </ul>
      </li>
      <% end %>

      

	     </ul>
	     <br style="clear: left" />
	     </div>
 </div>


	<div id="right2">
	<h1>View Product Wears</h1>
	
	
	<div class="formbox">
  <table width="60%" border="0" cellspacing="10" cellpadding="5">
    
    <tr>
      <td align="right" valign="middle">Name1 </td>
      <td align="center" valign="middle">:</td>
      <td> <%= @product_wear.name_1 %> </td>
    </tr>
    <tr>
      <td align="right" valign="middle">Name2 </td>
      <td align="center" valign="middle">:</td>
      <td> <%= @product_wear.name_2 %> </td>
    </tr>
  </table>
    </div>
    </div>
 
  </div>
  </div>



