<h1>Listing sale_estimates</h1>

<table>
  <tr>
    <th>Contact</th>
    <th>Deliver to</th>
    <th>Deliver phone</th>
    <th>Estimate no</th>
    <th>Date</th>
    <th>Expiry date</th>
    <th>Measure date</th>
    <th>Sales person</th>
    <th>Customer ref no</th>
    <th>Product</th>
    <th>Estimate note</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sale_estimates.each do |sale_estimate| %>
  <tr>
    <td><%= sale_estimate.contact_id %></td>
    <td><%= sale_estimate.deliver_to %></td>
    <td><%= sale_estimate.deliver_phone %></td>
    <td><%= sale_estimate.estimate_no %></td>
    <td><%= sale_estimate.date %></td>
    <td><%= sale_estimate.expiry_date %></td>
    <td><%= sale_estimate.measure_date %></td>
    <td><%= sale_estimate.sales_person %></td>
    <td><%= sale_estimate.customer_ref_no %></td>
    <td><%= sale_estimate.product_id %></td>
    <td><%= sale_estimate.estimate_note %></td>
    <td><%= sale_estimate.company_id %></td>
    <td><%= link_to 'Show', sale_estimate %></td>
    <td><%= link_to 'Edit', edit_sale_estimate_path(sale_estimate) %></td>
    <td><%= link_to 'Destroy', sale_estimate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale estimate', new_sale_estimate_path %>
