<h1>Listing product_req_plannings</h1>

<table>
  <tr>
    <th>Notes</th>
    <th>Product</th>
    <th>Uom</th>

    <th>Date required on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_req_plannings.each do |product_req_planning| %>
  <tr>
    <td><%= product_req_planning.notes %></td>

     <td> <% if product_req_planning.product_id.nil? %>
          <% else %>
          <% @product = Product.find(product_req_planning.product_id) %>
            <%= @product.product_name %>
          <% end %></td>

    <td><%= product_req_planning.uom_id %></td>
 
    <td><%= product_req_planning.date_required_on %></td>
    <td><%= link_to 'Show', product_req_planning %></td>
    <td><%= link_to 'Edit', edit_product_req_planning_path(product_req_planning) %></td>
    <td><%= link_to 'Destroy', {:controller=>'product_req_plannings', :action=>'destroy', :id=>"#{product_req_planning.id}"}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product req planning', new_product_req_planning_path %>
