<%= form_for(@prospect) do |f| %>
  <% if @prospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

      <ul>
      <% @prospect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :online %><br />
    <%= f.text_field :online %>
  </div>
  <div class="field">
    <%= f.label :walk_in %><br />
    <%= f.text_area :walk_in %>
  </div>
  <div class="field">
    <%= f.label :product_interest %><br />
    <%= f.text_field :product_interest %>
  </div>
  <div class="field">
    <%= f.label :quotation_number_sent %><br />
    <%= f.text_field :quotation_number_sent %>
  </div>
  <div class="field">
    <%= f.label :date_of_purchase_to_make %><br />
    <%= f.text_field :date_of_purchase_to_make %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :sales_person %><br />
    <%= f.text_field :sales_person %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.text_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
