  <div class="formbox">
  <%= form_for(@prospect) do |f| %>
  <% if @prospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

      <ul>
      <% @prospect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table width="60%" border="0" cellspacing="10" cellpadding="5">
    <tr>
      <td align="right" valign="middle">Telephone </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :telephone,:class =>"field1" %></td>
    </tr>
    <tr>
      <td align="right" valign="middle">Online </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :online,:class =>"field1" %></td>
    </tr>
    <tr>
      <td align="right" valign="middle">Walk In </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :walk_in,:class =>"field1" %></td>
    </tr>
    <tr>
      <td align="right" valign="middle">Product interest </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :product_interest,:class =>"field1" %></td>
    </tr>
    <tr>
      <td align="right" valign="middle">Quotation number </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :quotation_number_sent,:class =>"field1" %></td>
    </tr>
    <tr>
      <td align="right" valign="middle">Date of purchase </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.date_select :date_of_purchase,:class =>"field1" %></td>
    </tr>
    <tr>
      <td align="right" valign="middle">Notes </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_area :notes, :rows=>2 ,:class =>"field1" %>
        <%= f.hidden_field :company_id, :value=>"#{current_user.company_id}" %>
      </td>
    </tr>
    
    <tr> 
      <td align="right" valign="middle">&nbsp;</td>
      <td align="center" valign="middle">&nbsp;</td>
      <td><%= f.submit "submit", :class =>'button'%></td>
  </tr>
  </table>
  <% end %>

 </div>
  