<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
  <div id="blank"></div>
  <div id="right">
    <div class="leftarrow_contacts" style="float:left"></div>
    <div id="smoothmenu1" class="ddsmoothmenu">
    <ul class="rightcorner">
      <% if can? :new, Contact %>
      <li><%= link_to "Contact", contacts_path %>
       <ul>

       <li> <%= link_to 'New', new_contact_path %></li>


       </ul>
       </li>
       <% end %>

       <% if can? :new, Customer %>
       <li><%= link_to "Customer", customers_path %>
          <ul>
                  <li> <%= link_to 'New', new_customer_path %></li>
          </ul>
       </li>
       <% end %>

       <% if can? :new, Prospect %>
        <li><%= link_to "Prospect", prospects_path %>
           <ul>
                   <li> <%= link_to 'New', new_prospect_path %></li>
           </ul>
        </li>
        <% end %>

        <% if can? :new, Subcontractor %>
          <li><%= link_to "Subcontractor", subcontractors_path %>
             <ul>
                     <li> <%= link_to 'New', new_subcontractor_path %></li>
             </ul>
          </li>
        <% end %>

        <% if can? :new, SaleRepresentative %>
          <li><%= link_to "Sale Representative", sale_representatives_path %>
             <ul>
                     <li> <%= link_to 'New', new_sale_representative_path %></li>
             </ul>
          </li>
        <% end %>

	     </ul>
<br style="clear: left" />
</div>
</div>


<div id="right2">
 
    <h1>Show Prospect</h1>
    <div class="formbox">
    <table width="60%" border="0" cellspacing="10" cellpadding="5">
      <tr>
        <td align="right" valign="middle">Telephone </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @prospect.telephone %> </td>
      </tr>
      <tr>
        <td align="right" valign="middle">Online </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @prospect.online %> </td>
      </tr>
      <tr>
        <td align="right" valign="middle">Walk in </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @prospect.walk_in %> </td>
      </tr>
      <tr>
        <td align="right" valign="middle">Product interest </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @prospect.product_interest %> </td>
      </tr>
      <tr>
        <td align="right" valign="middle">Quotation number sent </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @prospect.quotation_number_sent %> </td>
      </tr>
      <tr>
        <td align="right" valign="middle">Date of purchase to make </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @prospect.date_of_purchase_to_make %> </td>
      </tr>
      <tr>
        <td align="right" valign="middle">Date </td>
        <td align="center" valign="middle">:</td>
        <td> <%= @prospect.notes %> </td>
      </tr>
      
      </table>
      </div>
      </div>
   
    </div>
    </div>