<%= form_for(@vat) do |f| %>
  <% if @vat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vat.errors.count, "error") %> prohibited this vat from being saved:</h2>

      <ul>
      <% @vat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tax_rate %><br />
    <%= f.text_field :tax_rate %>
  </div>
  <div class="field">
   
    <%= f.hidden_field :company_id, :value=>"#{params[:company_id]}" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
