<h1>Listing vats</h1>

<table>
  <tr>
    <th>Tax rate</th>
    
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vats.each do |vat| %>
  <tr>
    <td><%= vat.tax_rate %></td>
    
    <td><%= vat.company_id %></td>
    <td><%= link_to 'Show', vat %></td>
    
    <td><%= link_to 'Destroy', vat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vat', new_vat_path %>
