<div class="tabscontainer">
   <div class="tabs">
       <div class="tab selected first" id="tab_menu_1">
           <div class="link">General</div>
           <div class="arrow"></div>
       </div>
       <div class="tab" id="tab_menu_2">
           <div class="link">Product Color</div>
           <div class="arrow"></div>
       </div>
       <div class="tab" id="tab_menu_3">
           <div class="link">Product Price </div>
           <div class="arrow"></div>
       </div>
       <div class="tab" id="tab_menu_4">
            <div class="link">UOM </div>
            <div class="arrow"></div>
        </div>
	 
  </div>

  <%= form_for(@product) do |f| %>
  
    <div class="curvedContainer">
  		<div class="tabcontent" id="tab_content_1" style="display:block">
      <table width="60%" border="0" cellspacing="10" cellpadding="10">
          <tr>
            <td align="right" valign="middle">Category </td>
            <td align="center" valign="middle">:</td>
            <td><%= select_tag("category_ids[]", options_for_select(Category.find(:all).collect { |cat| [cat.category_name, cat.id] }, @product.categories.collect { |cat| cat.id}), {:multiple=>true, :size=>6}) %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Product Name </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.text_field :product_name,:class =>"field1"  %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Product Code </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.text_field :product_code,:class =>"field1"  %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Product Type </td>
            <td align="center" valign="middle">:</td>
            <td><%= select :product, :product_type_id, @producttype.map {|c| ["#{c.name}", c.id]}, { :include_blank => "-- Select---" } %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Product Group </td>
            <td align="center" valign="middle">:</td>
            <td><%= select :product, :product_group_id, @productgroup.map {|c| ["#{c.name}", c.id]}, { :include_blank => "-- Select---" } %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Product Price </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.text_field :purchase_price,:class =>"field1"  %></td>
          </tr>
          
          <tr>
            <td align="right" valign="middle">Supplier</td>
            <td align="center" valign="middle">:</td>
            <td><%= select :product, :supplier_id, @supplier.map {|c| ["#{c.account_reference}", c.id]}, { :include_blank => "-- Select---" } %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Range Name </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.text_field :range_name,:class =>"field1"  %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Product Fiber </td>
            <td align="center" valign="middle">:</td>
            <td><%= select :product, :product_fibre_id, @productfibre.map {|c| ["#{c.name_1} #{c.name_2}", c.id]}, { :include_blank => "-- Select---" } %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Product Banking </td>
            <td align="center" valign="middle">:</td>
            <td><%= select :product, :product_banking_id, @productbacking.map {|c| ["#{c.name_1} #{c.name_2}", c.id]}, { :include_blank => "-- Select---" } %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Range Name </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.text_field :range_name,:class =>"field1"  %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Pile Height Gauge </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.text_field :pile_height_gauge,:class =>"field1"  %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Pile Weight </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.text_field :pile_weight,:class =>"field1"  %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Unit Weight </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.text_field :unit_weight,:class =>"field1"  %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Product Wear </td>
            <td align="center" valign="middle">:</td>
            <td><%= select :product, :product_wear_id, @productwear.map {|c| ["#{c.name_1} #{c.name_2}", c.id]}, { :include_blank => "-- Select---" } %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Product Style Type </td>
            <td align="center" valign="middle">:</td>
            <td><%= select :product, :product_style_type_id, @productstyletype.map {|c| ["#{c.name_1} #{c.name_2}", c.id]}, { :include_blank => "-- Select---" } %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Published </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.check_box :is_published %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Description </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.text_area :full_description, :rows=>"2", :cols=>"33",:class =>"field1"  %></td>
          </tr>
          <tr>
            <td align="right" valign="middle">Notes </td>
            <td align="center" valign="middle">:</td>
            <td><%= f.text_area :notes, :rows=>"2", :cols=>"33" ,:class =>"field1" %></td>
          </tr>
          </table>
    		</div>
    		<div class="tabcontent" id="tab_content_2">
    			<table width="60%" border="0" cellspacing="10" cellpadding="5">
            <tr>
              <td align="right" valign="middle">Color Name</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :colour_name ,:class =>"field1" %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Color Number</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :colour_number ,:class =>"field1" %>
              <%= f.hidden_field :company_id, :value=>"#{current_user.company_id}" %>
              </td>
            </tr>
            </table>
      	</div>
      	<div class="tabcontent" id="tab_content_3">
    			<table width="60%" border="0" cellspacing="10" cellpadding="5">
            <tr>
              <td align="right" valign="middle" colspan="3">
              
                <%= f.fields_for :product_prices do |builder| %>
                  <%= render "product_price_fields", :f => builder %>
           	    <% end %>
           	    
              
              </td>
            </tr>
            </table>
      	</div>
      	<div class="tabcontent" id="tab_content_4">
    			<table width="60%" border="0" cellspacing="10" cellpadding="5">
            <tr>
              <td align="right" valign="middle" colspan="3">
              
                <%= f.fields_for :uoms do |builder| %>
                  <%= render "uom_fields", :f => builder %>
           	    <% end %>
              
              </td>
            </tr>
            </table>
      	</div>
      		
        <div align="center"><%= f.submit "Submit", :class=>"button" %></div>

    	</div>
    	<% end %>

    </div>
  
 
