<div class="fields">
    <p class="lable">Roll Cost</p>
    <p class="field"><%= f.text_field :roll_cost %></p>
    
    <p class="lable">Cut Cost</p>
    <p class="field"><%= f.text_field :cut_cost %></p>
    
    <p class="lable">Special Roll Cost</p>
    <p class="field"><%= f.text_field :special_roll_cost %></p>
    
    <p class="lable">Item Cost</p>
    <p class="field"><%= f.text_field :item_cost %></p>
    
    <p class="lable">Item Special</p>
    <p class="field"><%= f.text_field :item_special %></p>
    
    <p class="lable">Price Description</p>
    <p class="field"><%= f.text_area :special_price_description %></p>
    
    <p class="lable">Roll Net</p>
    <p class="field"><%= f.text_field :roll_net %></p>
    
    <p class="lable">Discount Roll Net</p>
    <p class="field"><%= f.text_field :discount_roll_net %></p>
    
    <p class="lable">Cut Net</p>
    <p class="field"><%= f.text_field :cut_net %></p>
    
    <p class="lable">Discount Cut Net</p>
    <p class="field"><%= f.text_field :discount_cu_net %></p>
    
    <p class="lable">Roll Cost</p>
    <p class="field"><%= f.date_select :start_date %></p>
    
    <p class="lable">Roll Cost</p>
    <p class="field"><%= f.date_select :expiry_date %></p>
    
    <p class="lable">Roll Cost</p>
    <p class="field"><%= f.text_field :srp %></p>
  
    
    <p><%= link_to_remove_fields "remove", f %></p> 
</div>