<div class="fields">

    <tr>
      <td align="right" valign="middle">Roll </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.select( :roll,  { "roll" => "roll", "item" => "item", "roll_item" => "roll_item"}) %></td>
    </tr>
    
    <tr>
      <td align="right" valign="middle">Roll Min </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :roll_min %></td>
    </tr>
    
    <tr>
      <td align="right" valign="middle">Std Length </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :std_length %></td>
    </tr>
    
    <tr>
      <td align="right" valign="middle">Std Width </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :std_width %></td>
    </tr>
    
    <tr>
      <td align="right" valign="middle">Item Length </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :item_length %></td>
    </tr>
    
    <tr>
      <td align="right" valign="middle">Item Width </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :item_width %></td>
    </tr>
    
    <tr>
      <td align="right" valign="middle">Buy in Multiples </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :buy_in_multiples %></td>
    </tr>
    
    <tr>
      <td align="right" valign="middle">Sale in multiples </td>
      <td align="center" valign="middle">:</td>
      <td><%= f.text_field :sale_in_multiples %></td>
    </tr>
    

</div>


