<div class="fields">
    <p class="lable">Roll</p>
    <p class="field">
      <%= f.select( :roll,  { "roll" => "roll", "item" => "item", "roll_item" => "roll_item"}) %>
     
    </p>
    
    <p class="lable">Roll min</p>
    <p class="field"><%= f.text_field :roll_min %></p>
    
    <p class="lable">Std Length</p>
    <p class="field"><%= f.text_field :std_length %></p>
    
    <p class="lable">Std Width</p>
    <p class="field"><%= f.text_field :std_width %></p>
    
    <p class="lable">Item Length</p>
    <p class="field"><%= f.text_field :item_length %></p>
    
    <p class="lable">Item Width</p>
    <p class="field"><%= f.text_field :item_width %></p>
    
    <p class="lable">Buy in Multiples</p>
    <p class="field"><%= f.text_field :buy_in_multiples %></p>
    
    <p class="lable">Sale in multiples</p>
    <p class="field"><%= f.text_field :sale_in_multiples %></p>
    
    
</div>


