<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @product.categories.collect { |cat| cat.category_name} %>
</p>

<p>
  <b>Product code:</b>
  <%= @product.product_code %>
</p>

<p>
  <b>Product type:</b>
  
  <% if @product.product_type_id.nil? %>
  <% else %>
  <% @producttype = ProductType.find(@product.product_type_id) %>
    <%= @producttype.name %>
  <% end %>
</p>

<p>
  <b>Product group:</b>
  <% if @product.product_group_id.nil? %>
   <% else %>
   <% @productgroup = ProductGroup.find(@product.product_group_id) %>
     <%= @productgroup.name %>
   <% end %>
 
</p>

<p>
  <b>Supplier:</b>
  <% if @product.supplier_id.nil? %>
    <% else %>
    <% @supplier = Supplier.find(@product.supplier_id) %>
      <%= @supplier.account_reference %>
    <% end %>
  
</p>

<p>
  <b>Range name:</b>
  <%= @product.range_name %>
</p>

<p>
  <b>Product fibre:</b>
  <% if @product.product_fibre_id.nil? %>
    <% else %>
    <% @productfibre = ProductFibre.find(@product.product_fibre_id) %>
      <%= @productfibre.name_1 %> <% @productfibre.name_2 %>
    <% end %>
</p>

<p>
  <b>Product backing:</b>
  <% if  @product.product_banking_id.nil? %>
     <% else %>
     <% @productbacking = ProductBacking.find(@product.product_banking_id) %>
       <%= @productbacking.name_1 %> <% @productbacking.name_2 %>
     <% end %>
</p>

<p>
  <b>Pile height gauge:</b>
  <%= @product.pile_height_gauge %>
</p>

<p>
  <b>Pile weight:</b>
  <%= @product.pile_weight %> 
</p>

<p>
  <b>Unit weight:</b>
  <%= @product.unit_weight %>
</p>

<p>
  <b>Product wear:</b>
  <% if  @product.product_wear_id.nil? %>
     <% else %>
     <% @productwear = ProductWear.find(@product.product_wear_id) %>
       <%= @productwear.name_1 %> <%= @productwear.name_2 %>
     <% end %>
</p>

<p>
  <b>Product style type:</b>
  <% if  @product.product_style_type_id.nil? %>
     <% else %>
     <% @productstyletype = ProductStyleType.find(@product.product_style_type_id) %>
       <%= @productstyletype.name_1 %>  <% @productstyletype.name_2 %>
     <% end %>
  
</p>

<p>
  <b>Is published:</b>
  <%= @product.is_published %>
</p>

<p>
  <b>Full description:</b>
  <%= @product.full_description %>
</p>

<p>
  <b>Notes:</b>
  <%= @product.notes %>
</p>

<p>
  <b>Attachement:</b>
  <%= @product.attachement %>
</p>

<p>
  <b>Colour name:</b>
  <%= @product.colour_name %>
</p>

<p>
  <b>Colour number:</b>
  <%= @product.colour_number %>
</p>


 <% for product_prices in @product.product_prices %>
 
  <p>
      <b>Item Cost</b>
      <%= product_prices.item_cost %>
   </p>
  
   <p>
       <b>Item Special</b>
       <%= product_prices.item_special %>
   </p>
  
   <p>
       <b>Special Price Description</b>
       <%= product_prices.special_price_description %>
  </p>
  
   <p>
       <b>Roll Net</b>
       <%= product_prices.roll_net %>
   </p>
   
   <p>
       <b>Discount Roll Net</b>
       <%= product_prices.discount_roll_net %>
   </p>
   
   <p>
       <b>Cut Net</b>
       <%= product_prices.cut_net %>
   </p>
    
   <p>
       <b>Discount Cut Net</b>
       <%= product_prices.discount_cu_net %>
   </p>
   
   <p>
        <b>Start Date</b>
        <%= product_prices.start_date %>
   </p>
    
    <p>
        <b>Expiry Date</b>
        <%= product_prices.expiry_date %>
    </p>
              
     <p>
        <b>Srp</b>
        <%= product_prices.srp %>
    </p>
 <% end %>


 <% for uoms in @product.uoms %>
 
  <p>
     <b>Roll</b>
     <%= uoms.roll %>
   </p>
 
 <p>
   <b>Roll Min</b>
   <%= uoms.roll_min %>
 </p>
 
 <p>
    <b>Std Length</b>
    <%= uoms.std_length %>
  </p>
 
 <p>
    <b>Std Width</b>
    <%= uoms.std_width %>
 </p>
 
 <p>
    <b>Item Length</b>
    <%= uoms.item_length %>
 </p>
    
 <p>
   <b>Item Widt:</b>
   <%= uoms.item_width %>
 </p>
     
 <p>
   <b>Buy in Multiples</b>
   <%= uoms.buy_in_multiples %>
 </p>
      
 <p>
   <b>Sale In Multiples</b>
   <%= uoms.sale_in_multiples %>
 </p>
 
 <% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
