<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @product.categories.collect { |cat| cat.category_name} %>
</p>

<p>
  <b>Product code:</b>
  <%= @product.product_code %>
</p>

<p>
  <b>Product type:</b>
  <%= @product.product_type_id %>
</p>

<p>
  <b>Product group:</b>
  <%= @product.product_group_id %>
</p>

<p>
  <b>Supplier:</b>
  <%= @product.supplier_id %>
</p>

<p>
  <b>Range name:</b>
  <%= @product.range_name %>
</p>

<p>
  <b>Product fibre:</b>
  <%= @product.product_fibre_id %>
</p>

<p>
  <b>Product banking:</b>
  <%= @product.product_banking_id %>
</p>

<p>
  <b>Pile height gauge:</b>
  <%= @product.pile_height_gauge %>
</p>

<p>
  <b>Pile weight:</b>
  <%= @product.pile_weight %>
</p>

<p>
  <b>Unit weight:</b>
  <%= @product.unit_weight %>
</p>

<p>
  <b>Product wear:</b>
  <%= @product.product_wear_id %>
</p>

<p>
  <b>Product style type:</b>
  <%= @product.product_style_type_id %>
</p>

<p>
  <b>Is published:</b>
  <%= @product.is_published %>
</p>

<p>
  <b>Full description:</b>
  <%= @product.full_description %>
</p>

<p>
  <b>Notes:</b>
  <%= @product.notes %>
</p>

<p>
  <b>Attachement:</b>
  <%= @product.attachement %>
</p>

<p>
  <b>Colour name:</b>
  <%= @product.colour_name %>
</p>

<p>
  <b>Colour number:</b>
  <%= @product.colour_number %>
</p>

<p>
  <b>Company:</b>
  <%= @product.company_id %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
