  <div class="tabscontainer">
     <div class="tabs">
         <div class="tab selected first" id="tab_menu_1">
             <div class="link">General</div>
             <div class="arrow"></div>
         </div>
         <div class="tab" id="tab_menu_2">
             <div class="link">Communications</div>
             <div class="arrow"></div>
         </div>
		 
		 
          <div class="tab" id="tab_menu_3">
             <div class="link">Notes </div>
             <div class="arrow"></div>
         </div>
		 
    </div>
    
    <%= form_for @supplier, :html => { :multipart => true } do |f| %>
      
      <div class="curvedContainer">
    		<div class="tabcontent" id="tab_content_1" style="display:block">
        <table width="60%" border="0" cellspacing="10" cellpadding="10">
            <tr>
              <td align="right" valign="middle">Supplier Name </td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Account Reference </td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :account_reference %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Company Name </td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :company_name %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Account Number</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :account_number %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Vat Number</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :vat_number %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Address Line1</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_area :address_line1, :rows=>"2" %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Address Line2</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_area :address_line2, :rows=>"2" %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Address Line3</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_area :address_line3, :rows=>"2" %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Country</td>
              <td align="center" valign="middle">:</td>
              <td><%= select :supplier, :country, Country.all.map {|c| [c.country_name]} %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Town</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :town %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Postcode</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :postcode %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Website</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :website %></td>
            </tr>
            <tr>
              <td align="right" valign="middle">Glcode</td>
              <td align="center" valign="middle">:</td>
              <td><%= f.text_field :glcode %></td>
            </tr>
         </table>
      	</div>
      		<div class="tabcontent" id="tab_content_2">
      			<table width="60%" border="0" cellspacing="10" cellpadding="5">
              <tr>
                <td align="right" valign="middle">Date</td>
                <td align="center" valign="middle">:</td>
                <td><%= f.datetime_select :communication_date %></td>
              </tr>
              <tr>
                <td align="right" valign="middle">Contact</td>
                <td align="center" valign="middle">:</td>
                <td><%= f.text_field :contact %></td>
              </tr>
              <tr>
                <td align="right" valign="middle">Outcome</td>
                <td align="center" valign="middle">:</td>
                <td><%= f.text_area :outcome, :rows=>"2" %></td>
              </tr>
            </table>
        		</div>
        		<div class="tabcontent" id="tab_content_3">
        			<table width="60%" border="0" cellspacing="10" cellpadding="5">
                <tr>
                  <td align="right" valign="middle">Note Date</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.date_select :note_date %></td>
                </tr>
                <tr>
                  <td align="right" valign="middle">Note</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.text_area :note, :rows=>"2" %></td>
                </tr>
                <tr>
                  <td align="right" valign="middle">Added by</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.text_field :added_by %>
                    <%= f.hidden_field :company_id, :value=>"#{current_user.company_id}" %>
                  </td>
                </tr>
                <tr>
                  <td align="right" valign="middle">Image</td>
                  <td align="center" valign="middle">:</td>
                  <td><%= f.file_field :supplierimage %></td>
                </tr>
                </table>
              </div>


                <div align="center"><%= f.submit "Submit", :class=>"button" %></div>

              </div>
            <% end %>

          </div>  
  
