<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_reference %><br />
    <%= f.text_field :account_reference %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :account_number %><br />
    <%= f.text_field :account_number %>
  </div>
  <div class="field">
    <%= f.label :vat_number %><br />
    <%= f.text_field :vat_number %>
  </div>
  <div class="field">
    <%= f.label :address_line1 %><br />
    <%= f.text_area :address_line1 %>
  </div>
  <div class="field">
    <%= f.label :address_line2 %><br />
    <%= f.text_area :address_line2 %>
  </div>
  <div class="field">
    <%= f.label :address_line3 %><br />
    <%= f.text_area :address_line3 %>
  </div>
  <div class="field">
    <%= f.label :town %><br />
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= select :supplier, :country, Country.all.map {|c| [c.country_name]} %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :glcode %><br />
    <%= f.text_field :glcode %>
  </div>
  <div class="field">
    <%= f.label :communication_date %><br />
    <%= f.datetime_select :communication_date %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.text_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :outcome %><br />
    <%= f.text_area :outcome %>
  </div>
  <div class="field">
    <%= f.label :note_date %><br />
    <%= f.date_select :note_date %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :added_by %><br />
    <%= f.text_field :added_by %>
    <%= f.hidden_field :company_id, :value=>"#{current_user.company_id}" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
