<div style="width:90%; float:right; position: static; left:10%; overflow:hidden">
<div id="blank"></div>
<div id="right">

   <div class="leftarrow_setting" style="float:left"></div>
    <div id="smoothmenu1" class="ddsmoothmenu">
      <ul class="rightcorner">
      <li><%= link_to "User", users_path %>
     <ul>

      <li><%= link_to 'New', new_user_path %></li>


      </ul>
    </li>
       <% if can? :new, Company %>
         <li><%= link_to "Company", companies_path %>
          <ul>
              <li> <%= link_to 'New', new_company_path %></li>
          </ul>
        </li>
       <% end %>
       
       <% if can? :new, Vat %>
       <li><%= link_to "Vat", vats_path %>
            <ul>
                 <li><%= link_to 'New', new_vat_path %></li>
            </ul>
        </li>
        <% end %>

        <% if can? :new, Category %>
       	<li><%= link_to "Category", categories_path %>
            <ul>
                <li><%= link_to 'New', new_category_path %></li>
            </ul>
        </li>
        <% end %>

        <% if can? :new, SalesType %>
       	<li><%= link_to "Sales Types", sales_types_path %>
            <ul>
                <li><%= link_to 'New', new_sales_type_path %></li>
            </ul>
        </li>
        <% end %>

        <% if can? :new, OutgoingType %>
       	<li><%= link_to "Outgoing Types", outgoing_types_path %>
            <ul>
                <li><%= link_to 'New', new_outgoing_type_path %></li>
            </ul>
        </li>
        <% end %>
        
        <% if can? :new, Supplier %>
       	<li><%= link_to "Supplier", suppliers_path %>
            <ul>
                <li><%= link_to 'New', new_supplier_path %></li>
            </ul>
        </li>
        <% end %>
  
 </ul>

      <br style="clear: left" />
      </div>
      </div>
    
    
    <div id="right2">
     
      <h1>View Supplier Details</h1>
      
      <div class="formbox">
          <table width="100%" border="0" cellspacing="10" cellpadding="10">
            <tr>
              <td align="left" valign="top" class="td1"><strong>Supplier Name </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.name %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Account Reference </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.account_reference %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Company Name </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.company_name %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Account Number </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.account_number %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Vat Number </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.vat_number %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Address Line1 </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.address_line1 %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Address Line2 </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.address_line3 %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Address Line3 </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.address_line3 %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Address Line3 </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.address_line3 %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Address Line3 </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.address_line3 %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Country </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.country %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Town </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.town %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Postcode </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.postcode %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Website </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.website %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Glcode </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.glcode %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Communication Date </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.communication_date %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Contact </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.contact %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Outcome </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.outcome %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Note Date </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.note_date %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Note </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.note %> </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Added by </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= @supplier.added_by %> </td>
            </tr>
            <% unless @supplier.supplierimage_url(:thumb).nil? %>
            <tr>
              <td align="left" valign="top" class="td1"><strong>Image </strong></td>
              <td align="center" valign="middle" class="td1">:</td>
              <td align="left" valign="top" class="td2"> <%= image_tag @supplier.supplierimage_url(:thumb) %> </td>
            </tr>
            <% end %>
            </table>
      	  </div>
      </div>
   
    </div>











