<p id="notice"><%= notice %></p>

<p>
  <b>Account reference:</b>
  <%= @supplier.account_reference %>
</p>

<p>
  <b>Company name:</b>
  <%= @supplier.company_name %>
</p>

<p>
  <b>Account number:</b>
  <%= @supplier.account_number %>
</p>

<p>
  <b>Vat number:</b>
  <%= @supplier.vat_number %>
</p>

<p>
  <b>Address line1:</b>
  <%= @supplier.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @supplier.address_line2 %>
</p>

<p>
  <b>Address line3:</b>
  <%= @supplier.address_line3 %>
</p>

<p>
  <b>Town:</b>
  <%= @supplier.town %>
</p>

<p>
  <b>Country:</b>
  <%= @supplier.country %>
</p>

<p>
  <b>Postcode:</b>
  <%= @supplier.postcode %>
</p>

<p>
  <b>Website:</b>
  <%= @supplier.website %>
</p>

<p>
  <b>Glcode:</b>
  <%= @supplier.glcode %>
</p>

<p>
  <b>Communication date:</b>
  <%= @supplier.communication_date %>
</p>

<p>
  <b>Type:</b>
  <%= @supplier.type_id %>
</p>

<p>
  <b>Contact:</b>
  <%= @supplier.contact %>
</p>

<p>
  <b>Outcome:</b>
  <%= @supplier.outcome %>
</p>

<p>
  <b>Note date:</b>
  <%= @supplier.note_date %>
</p>

<p>
  <b>Note:</b>
  <%= @supplier.note %>
</p>

<p>
  <b>Added by:</b>
  <%= @supplier.added_by %>
</p>




<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
