<!DOCTYPE html>
<html>
<head>
  <title>Floorsys</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.5.2.min', 'jquery.validate.min', 'prototype', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if user_signed_in? %>
  <% if current_user.id == 1 %>
  <%= link_to 'Create User', new_user_path %> |  
  <% else %>
  <%= link_to 'Create Staff', new_user_path %> |  
  <% end %>
  <% if can? :new, Company %>
  <%= link_to 'Company', {:controller=>"companies", :action=>"index"} %> | 
  <%= link_to 'New Company', new_company_path %> | 
  <% end %>
  <% if can? :new, Contact %>
  <%= link_to 'Create Contact', new_contact_path %> | 
  <% end %>  
  <% if can? :new, Customer %>
  <%= link_to 'Create Customer', new_customer_path %> |  
  <% end %>  
  <% if can? :new, SaleRepresentative %>
  <%= link_to 'Create Sale Representative', new_sale_representative_path %> |  
  <% end %>
  <% if can? :new, Subcontractor %>
  <%= link_to 'Create Sub-contractor', new_subcontractor_path %> |  
  <% end %>
  <% if can? :new, Supplier %>
  <%= link_to 'Create Supplier', new_supplier_path %> |  
  <% end %>
  Signed in as <%= current_user.username %>. Not you?
  <%= link_to "Sign out", destroy_user_session_path %>
  <p>
     <% if can? :new, ProductType %>
      <%= link_to 'Create Product Type', new_product_type_path %> |  
      <% end %>
      
      <% if can? :new, ProductGroup %>
        <%= link_to 'Create Product Group', new_product_group_path %> |  
      <% end %>
      
      <% if can? :new, ProductFibre %>
        <%= link_to 'Create Product Fibre', new_product_fibre_path %> |  
      <% end %>
      
      <% if can? :new, ProductBacking %>
        <%= link_to 'Create Product Backing', new_product_backing_path %> |  
      <% end %>
      
      <% if can? :new, ProductWear %>
        <%= link_to 'Create Product Wear', new_product_wear_path %> |  
      <% end %>
      
      <% if can? :new, ProductStyleType %>
        <%= link_to 'Create Product Style Type', new_product_style_type_path %> |  
      <% end %>
      
     <% if can? :new, Product %>
     <%= link_to 'Create Product', new_product_path %> 
     <% end %> 
     
  </p>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
       
       
<%= yield %>

</body>
</html>
