<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	 <%= javascript_include_tag "jquerycssmenu","login","menucontents","ddlevelsmenu","ddsmoothmenu"%>
<head>
	
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>FloorSYS</title>

 <%= stylesheet_link_tag 'style', 'ddsmoothmenu', 'screen', 'ddlevelsmenu-topbar', 'login', 'left_menu' %>
<script src="js/ga.js" async="" type="text/javascript"></script>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
<script src="js/login.js"></script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js">


</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

ddsmoothmenu.init({
	mainmenuid: "smoothmenu2", //Menu DIV id
	orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
	//customtheme: ["#804000", "#482400"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

<script>



var dayarray=new Array("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")

function getthedate(){
var mydate=new Date()
var year=mydate.getYear()
if (year < 1000)
year+=1900
var day=mydate.getDay()
var month=mydate.getMonth()
var daym=mydate.getDate()
if (daym<10)
daym="0"+daym
var hours=mydate.getHours()
var minutes=mydate.getMinutes()
var seconds=mydate.getSeconds()
var dn="AM"
if (hours>=12)
dn="PM"
if (hours>12){
hours=hours-12
}
if (hours==0)
hours=12
if (minutes<=9)
minutes="0"+minutes
if (seconds<=9)
seconds="0"+seconds
//change font size here
var cdate="<midium><font color='#666666' face='Arial'><b>"+dayarray[day]+", "+montharray[month]+" "+daym+", "+year+" "+hours+":"+minutes+":"+seconds+" "+dn
+"</b></font></midium>"
if (document.all)
document.all.clock.innerHTML=cdate
else if (document.getElementById)
document.getElementById("clock").innerHTML=cdate
else
document.write(cdate)
}
if (!document.all&&!document.getElementById)
getthedate()
function goforit(){
if (document.all||document.getElementById)
setInterval("getthedate()",1000)
}

</script>


</head>
<body onLoad="goforit()">
<div align="center" id="maindiv">
  <div style="z-index:10000" id="header">
  	
  	
  	
  	
  	
  	
  	
  	
    <div id="header_wrap">
      <div id="logo2"><a href="/"><img src="/images/logo2.png" alt="" border="0" /></a></div>
      <div id="topsearchbox">
        <input type="text" name="textfield" class="searcfield" />
        <input name="button" type="button" class="button2" value="Search"/>
      </div>
	  <div id="clock" style="width:109px; float:left; margin:25px 0 0 0; font-size:12px; text-align:left; font-weight:bold; color:#666666"></div>
	  
	  <div class="notification" title="Notification"><img src="/images/mail.png" alt="" border="0" />

          <div class="notificationvalue">2</div>

    </div>
	 
      <div id="username"> Floorserve Ltd. <br/>
      	<% if user_signed_in? %>
        <%= current_user.username %> </div>
        <% end %>
        
      <div style="width:1000px; float:right; position:absolute">  
      <div id="container">
        <div id="loginContainer"> <a href="#" id="loginButton"><span><img src="/images/user.jpg" alt="" /></span><em></em></a>
            <div style="clear:both"></div>
          <div id="loginBox">
              <div id="loginForm">
               <div class="toparrow"></div>
                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td width="110" align="left" valign="top"><img src="/images/user_large.jpg" alt="" width="100" height="100" /></td>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="5" cellpadding="5">
                        <tr>
                          <td align="left" valign="top"><strong>Floorserve Ltd</strong></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><% if user_signed_in? %><%= current_user.username %>       <% end %></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><a href="#"><img src="/images/setting.png" alt="" border="0" /></a><span> <%= link_to "Sign out", destroy_user_session_path %></span></td>
                        </tr>
                    </table></td>
                  </tr>
                </table>
              </div>
          </div>
        </div>
      </div>
      </div>
      
      
      
    </div>   
  </div>
  
  
  
  <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 
<%= yield %>
 
  
 
  <div id="footer">Copyright &copy; 2012, Stedia Infosys, All Rights Reserved.</div>
</div>
</body>
</html>
