<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	 
<head>
	
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>FloorSYS</title>

 <%= stylesheet_link_tag 'style', 'ddsmoothmenu', 'screen', 'ddlevelsmenu-topbar', 'login', 'left_menu', 'tab' %>

 <%= javascript_include_tag "jquery-1.5.2.min","jquerycssmenu","login","menucontents","ddlevelsmenu","ddsmoothmenu" %>

 

 <script language="JavaScript">
 function remove_fields(link) {
   $(link).previous("input[type=hidden]").value = "1";
   $(link).up(".fields").hide();
 }

 function add_fields(link, association, content) {
   var new_id = new Date().getTime();
   var regexp = new RegExp("new_" + association, "g")
   $(link).up().insert({
     before: content.replace(regexp, new_id)
   });
 }
 
 $(document).ready(function() {

     $(".tabs .tab[id^=tab_menu]").click(function() {
         var curMenu=$(this);
         $(".tabs .tab[id^=tab_menu]").removeClass("selected");
         curMenu.addClass("selected");

         var index=curMenu.attr("id").split("tab_menu_")[1];
         $(".curvedContainer .tabcontent").css("display","none");
         $(".curvedContainer #tab_content_"+index).css("display","block");
     });
 });
 </script>


</head>
<body onLoad="goforit()">
<div align="center" id="maindiv">
  <div style="z-index:10000" id="header">
  	
  	
  	
  	
  	
  	
  	
  	
    <div id="header_wrap">
      <div id="logo2"><a href="/"><img src="/images/logo2.png" alt="" border="0" /></a></div>
      <div id="topsearchbox">
        <input type="text" name="textfield" class="searcfield" />
        <input name="button" type="button" class="button2" value="Search"/>
      </div>
    <div style="float:right; width:378px">
	  <div id="clock" style="width:113px; float:left; margin:21px 0 0 30px; font-size:12px; text-align:left; font-weight:bold; color:#666666"></div>
	  
	  <div class="notification" title="Notification"><img src="/images/mail.png" alt="" border="0" />

          <div class="notificationvalue">2</div>

    </div>
	 
      <div id="username"> Floorserve Ltd. <br/>
      	<% if user_signed_in? %>
        <%= current_user.username %> 
        <% end %>
      </div>
      </div>  
      <div style="position: fixed; width: auto; float: right; right: 10px;">  
      <div id="container">
        <div id="loginContainer"> <a href="#" id="loginButton"><span><img src="/images/user.jpg" alt="" /></span><em></em></a>
            <div style="clear:both"></div>
          <div id="loginBox">
              <div id="loginForm">
               <div class="toparrow"></div>
                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td width="110" align="left" valign="top"><img src="/images/user_large.jpg" alt="" width="100" height="100" /></td>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="5" cellpadding="5">
                        <tr>
                          <td align="left" valign="top"><strong>Floorserve Ltd</strong></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><% if user_signed_in? %><%= current_user.first_name %>       <% end %></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"><span> <%= link_to "Sign out", destroy_user_session_path %></span></td>
                        </tr>
                    </table></td>
                  </tr>
                </table>
              </div>
          </div>
        </div>
      </div>
      </div>
      
      
      
    </div>   
  </div>
  
  
   <%= javascript_include_tag :all %>

   <div id="wrap">
      <div id="left">

  	<ul id="css3menu1" class="topmenu">
  	
      <li><a <% if controller.controller_name == 'dashboards' %> class="home_selected" <% else %> class="home" <% end %> href="/" title="Home">Home</a></li>

      <li class="topmenu"><a href="#" title="Diary" style="width: 100px;"><img src="/images/book.png" alt="Home" style="padding-right:0px"><br />
  Diary</a></li>

  
    <li><a <% if controller.controller_name == 'contacts' %> class="contacts_selected" <% elsif controller.controller_name == 'customers' %> class="contacts_selected" 
	    <% elsif controller.controller_name == 'prospects' %> class="contacts_selected" <% elsif controller.controller_name == 'subcontractors' %> class="contacts_selected" <% elsif controller.controller_name == 'sale_representatives' %> class="contacts_selected" 
	    <% else %> class="contacts" <% end %> href="/contacts" title="Contacts">Contacts</a></li>

  	<li class="topmenu"><a href="#" title="Customers" style="width: 100px;"><span><img src="/images/clients.png" alt="Product info" style="padding-right:0px"><br />
       Customers</span></a>
  	<div class="submenu" style="width:250px;">
  	<div class="leftarrow"></div>
  	<div class="column" style="width:100%">
  	<ul>

  		<li><a href="#" title="Features"><img src="/images/sales.png">Sales Estimates</a></li>

  		<li><a href="#" title="Parameters info"><img src="/images/so.png">Sales Orders</a></li>

  		<li><a href="#" title="Parameters info"><img src="/images/si.png">Sales Invoices</a></li>
  		<li><a href="#" title="Parameters info"><img src="/images/complaint.png">Customer Complaints</a></li>

  	</ul></div>
  	</div>
  </li>

    <li class="topmenu"><a href="#" title="Cash Register" style="width: 100px;"><img src="/images/cash_register.png" alt="Home" style="padding-right:0px"><br />
    Cash Register</a></li>

   <li class="topmenu"><a href="#" title="Projects" style="width: 100px;"><img src="/images/projects.png" alt="Home" style="padding-right:0px" /><br />
         Projects</a></li>




  <li class="topmenu"><a href="#" title="Suppliers" style="width: 100px;"><span><img src="/images/supplier.png" alt="Product info" style="padding-right:0px"><br />
       Suppliers</span></a>
  	<div class="submenu" style="width:250px;">
  	<div class="leftarrow"></div>
  	<div class="column" style="width:100%">
  	<ul>

  		<li><a href="#" title="Features"><img src="/images/so.png">Purchase Orders</a></li>

  		<li><a href="#" title="Parameters info"><img src="/images/si.png">Purchase Invoices</a></li>

  		<li><a href="#" title="Parameters info"><img src="/images/quote.png">Purchase Quotes</a></li>


  	</ul></div>
  	</div>
  </li>


  <li class="topmenu"><a href="#" title="Payroll" style="width: 100px;"><span><img src="/images/payroll.png" alt="Product info" style="padding-right:0px"><br />
       Payroll</span></a>
       	<div class="submenu" style="width:250px;">
       	<div class="leftarrow"></div>
       	<div class="column" style="width:100%">
       	<ul>

       		<li><a href="#" title="Features"><img src="/images/hat2.png">Subcontractors</a></li>

       	</ul></div>
       	</div>
  </li>

  <li class="topmenu"><a href="#" title="Products" style="width: 100px;"><span><img src="/images/product.png" alt="Product info" style="padding-right:0px"><br />
       Products</span></a>
  	<div class="submenu" style="width:250px;">
  	<div class="leftarrow"></div>
  	<div class="column" style="width:100%">
  	<ul>

  		<li><a href="#" title="Features"><img src="/images/goods.png">Goods Inwards</a></li>
  		</ul></div>
  		</div>
  		</li>
  		
  	
  	  <li><a <% if controller.controller_name == 'users' %> class="settings_selected" <% elsif controller.controller_name == 'vats' %> class="settings_selected" 
  	    <% elsif controller.controller_name == 'categories' %> class="settings_selected" <% elsif controller.controller_name == 'sales_types' %> class="settings_selected" <% elsif controller.controller_name == 'outgoing_types' %> class="settings_selected" 
  	    <% elsif controller.controller_name == 'companies' %> class="settings_selected" <% elsif controller.controller_name == 'suppliers' %> class="settings_selected" <% else %> class="settings" <% end %> href="/users" title="Settings">Settings</a></li>
  		


  		<li class="topmenu"><a href="#" title="More" style="width: 100px;"><span><img src="/images/more2.png" alt="Product info" style="padding-right:0px"><br />
       More</span></a>
  	<div class="submenu" style="width:250px;">
  	<div class="leftarrow"></div>
  	<div class="column" style="width:100%">
  	<ul>

  		<li><a href="#" title="Features"><img src="/images/goods.png">Sample Link 1</a></li>


  		</ul></div>
  		</div>
  		</li>





  </ul>


      </div>
  
  <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 
<%= yield %>
 
  
 
  <div id="footer">Copyright &copy; 2012, Stedia Infosys, All Rights Reserved.</div>
</div>
</body>
</html>
